<div class="w-full">
<%= render 'notice' %>
<div>
  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
    <%= t('.title_html') %>
  </h1>
  <% if @counter >=5 %>
    <h2 class="font-bold text-l mb-6 ">
    </h2>
  <% end %>
</div>

<%= turbo_stream_from 'products'%>

<ul>
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <%= render partial: 'product', object: product %>
      <% end %>
    <% end %>
  <% end %>
</ul>
</div>
